<!DOCTYPE html>
<html>
  <head>
    <title>Are We Triaged Yet?</title>
    <meta name="description" content="Firefox bug triage stats">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://code.cdn.mozilla.net/fonts/zilla-slab.css" rel="stylesheet">
    <link href="https://code.cdn.mozilla.net/fonts/fira.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Mozilla
      </h1>
      <h2>
        Are we triaged yet?
      </h2>
      <h3 class="report-name">
      </h3>
    </header>

    <main>
    </main>

    <footer>
      <ul>
        <li>Mozilla public</li>
        <li><a href="/data">API</a></li>
        <li>Data updates hourly</li>
      </ul>

    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="/client.js"></script>

  </body>
</html>
